@import './Breakpoints/breakpoints.scss';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



@mixin buttonIcon($iconColor) {
  height: 32px;
  width: 64px;
  border-radius: 8%;
  background-color: $iconColor;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}
@mixin buttonButton {
  margin-right: 32px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid $green;
  color: $green;
  font-family: $fontFamily;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.7;
}

//text above buttons
@mixin buttonTitleText {
  font-family: $fontFamily;
  color: #7BF762;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

body {
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.border {
  border: 1px solid $green;
  border-radius: 5px;
}


//GRID
.wrapper {
  display: grid;
  //grid-template-columns: 1fr 1fr 1fr ; 
  grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
  gap: 10px;
  border-radius: 8px;
  padding: 32px;
}

.box {
  font-size: 100%;
}

.title {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
  margin-top: 9px;
  font-family: $fontFamily;
  color: #7BF762;
  font-size: 24px;
  letter-spacing: 0.2em;
  line-height: 32px;
}

//colortitle
.color-title {
  margin-top: 30px;
  grid-column: 1 / 3;
  grid-row: 2;
  @include buttonTitleText();
}
//color
.color {
  grid-column: 1 / 3;
  grid-row: 3/5;
  margin-bottom: 70px;
}
//total
.total {  
  grid-column: 3/4;
  grid-row: 3 / 6;
 
}

//powrtitle
.power-title {
  grid-column: 1/3;
  grid-row: 4;
  @include buttonTitleText();
}
.power {
  grid-column: 1 / 4 ;
  grid-row: 5/6 ;
  margin-bottom: 35px;
}
//warptitle
.warp-title {
  grid-column: 1/3 ;
  grid-row: 6 ;
  @include buttonTitleText();

}
.warp {
  grid-column: 1/3 ;
  grid-row: 7 ;
  margin-bottom: 35px;
}
//optiontitle
.option-title {
  grid-column: 1 / 3 ;
  grid-row: 8 ;
  @include buttonTitleText();
}

.option {
  grid-column: 1/3 ;
  grid-row: 9;
}

// buttons 
.option-package-btn {
  display: flex;
}

//button for color select
.clr-not-clicked {
  width: 160px;
  height: 112px;
  @include buttonButton(); 
}
.clr-clicked {
  width: 160px;
  height: 112px;
  @include buttonButton();
  border: 1px solid $lightgreen;
  color: $lightgreen;
}
//button for power
.pwr-not-clicked {
  width: 160px;
  height: 64px;
  @include buttonButton();
}
.pwr-clicked {
  width: 160px;
  height: 64px;
  @include buttonButton();
  border: 1px solid $lightgreen;
  color: $lightgreen;
}
//warp button
.warp-not-clicked {
  width: 160px;
  height: 64px;
  @include buttonButton(); 
}
.warp-clicked {
  width: 160px;
  height: 64px;
  @include buttonButton();
  border: 1px solid $lightgreen;
  color: $lightgreen;
}

//option package button
.opt-not-clicked {
  width: 160px;
  height: 192px;
  @include buttonButton(); 
  list-style: none;
  text-align: center;
  cursor: default;
}
.opt-clicked {
  width: 160px;
  height: 192px;
  @include buttonButton();
  border: 1px solid $lightgreen;
  color: $lightgreen;
  list-style: none;
  text-align: center;
  cursor: default;
}

// icon colors
.Snow {
  @include buttonIcon(#FFF)
}
.Volcano {
  @include buttonIcon(#FF7A00)
}
.Sky {
  @include buttonIcon(#6BE4FF)
}


.option-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 10px;
}


.option-icon {
  height: 129px;
  width: 160px;
  background-color: #1C3C16;
  border-radius: 8px;
  text-align: left;
  font-size: 11px;
  list-style: none;
  margin-top: 5px;
}

li {
  margin-left: 5px;
  margin-top: 2px;
}


.total-box {
  height: 240px;
  width: 304px;
  background-color: #1C3C16;
  border-radius: 8px;
  border: 1px solid $lightgreen;
  cursor: default;
}

.totals-text {
  padding: 0px 10px 10px 10px;
  color: #7BF762;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.2em;
}

.divide {
  height: 1px;
  width: 304px;
  background-color: #7BF762;;
  margin-top: 15px;
  margin-left: -10px;

}

.total{
  font-size: 18px;
}

.white {
  color: #FFF;
  float: right;
} 

@include media('<desktop' ){
  .total {  
    grid-column: 1 / 3 ;
    grid-row: 11 ;
  }
}

@include media('<tablet' ){
  .total {  
    grid-column: 1 / 3 ;
    grid-row: 11 ;
    gap: 0px;
  }
  .color {
    grid-column: 1/4;
    grid-row: 3/5;
    margin-bottom: 40px;
  }
  .option-package-btn {
    display: grid;
  }
  .option {
    grid-column: 1 ;
    grid-row: 9/11;
  }  
  
}